<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="tasks-container">
        <button type="button" class="btn btn-primary mb-3" (click)="goToPage('tasks-form')">Add Task</button>
        <table class="table table-bordered table-striped">
          <thead class="table-light">
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of store.tasks()">
              <td>{{ task.title }}</td>
              <td>{{ task.status }}</td>
              <td>
                <button class="btn btn-sm btn-warning px-2 py-1 me-2" (click)="updateTask(task)">Edit</button>
                <button class="btn btn-sm btn-danger px-2 py-1" (click)="deletaTask(task.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-task-chart-page></app-task-chart-page>
    </div>
  </div>
</div>

<div class="confirmation-popup" *ngIf="showConfirmation">
  <div class="popup-content">
    <h3>Delete Confirmation !!</h3>
    <p>Are you sure you want to delete this Task?</p>
    <div class="popup-actions">
      <button class="confirm-button" (click)="confirmDelete()">Yes, Delete</button>
      <button class="cancel-button" (click)="closeConfirmationPopup()">Cancel</button>
    </div>
  </div>
</div>